Module 2/RaceProject/RaceProject_Cmake
Module 2/RaceProject/RaceProject — копия
Module 2/Task_*_*/*/x64/Debug/*.txt
Module 2/Task_**_1/.vs
Module 2/Task_**_*/out
Module 2/Task_*_*/.vs/
Module 2/Task_*_*/x64/
Module 2/Task_*_*/x64/Debug/*.txt
Module 2/Task_1_1/Task_1_1.vcxproj.filters
Module 2/Task_1_1/Task_1_1.vcxproj.user
Module 2/Task_1_1/x64/
Module 2/Task_2_1/.vs/Task_2_1/v17/Browse.VC.db
Module 2/Task_2_1/.vs/Task_2_1/v17/Browse.VC.db-shm
Module 2/Task_2_1/.vs/Task_2_1/v17/Browse.VC.db-wal
Module 2/Task_2_1/.vs/Task_2_1/v17/Browse.VC.opendb
Module 2/Task_2_1/.vs/Task_2_1/v17/ipch/AutoPCH/de374774a78cc723/TASK_2_1.ipch
Module 2/Task_2_1/Task_2_1.vcxproj.filters
Module 2/Task_2_1/Task_2_1.vcxproj.user
*.exe
*.log
*.ilk
*.obj
*.tlog
*.recipe
*.idb
*.pdb
*.suo
*.enc
*.suo
*.vsidx
*.db-wal
*.ipch
*.opendb
*.db
*.lock
Module 2/Task_2_2/x64/Debug/Task_2_2.vcxproj.FileListAbsolute.txt
*.filters
*.vsidx
*.ipch
Module 2/Task_2_2/.vs/Task_2_2/v17/.suo
*.user
Module 2/Task_2_3/.vs/Task_2_3/v17/.suo
Module 2/Task_3_1/.vs/Task_3_1/v17/.suo
Module 2/Task_3_2/.vs/Task_3_2/v17/.suo
Module 2/Task_4_1/x64/Debug/Task_4_1.vcxproj.FileListAbsolute.txt
Module 2/Task_4_1/.vs/Task_4_1/v17/.suo
Module 2/Task_3_2/x64/Debug/task_3_2.obj.enc
Module 2/Task_3_2/x64/Debug/Task_3_2.vcxproj.FileListAbsolute.txt
Module 2/Task_3_1/x64/Debug/Task_3_1.vcxproj.FileListAbsolute.txt
Module 2/Task_2_3/x64/Debug/Task_2_3.vcxproj.FileListAbsolute.txt
Module 2/Task_7_3/x64/Release/Task_7_3.vcxproj.FileListAbsolute.txt
Module 2/Task_7_3/x64/Release/Task_7_3.iobj
Module 2/Task_7_3/x64/Debug/Task_7_3.vcxproj.FileListAbsolute.txt
Module 2/TasK_6_2/x64/Debug/TasK_6_2.vcxproj.FileListAbsolute.txt
Module 2/Task_6_1/x64/Debug/Task_6_1.vcxproj.FileListAbsolute.txt
Module 2/Task_5_1/x64/Debug/Task_5_1.vcxproj.FileListAbsolute.txt
Module 2/Task_5_3/x64/Debug/Task_5_3.vcxproj.FileListAbsolute.txt
Module 2/Task_4_2/x64/Debug/Task_4_2.vcxproj.FileListAbsolute.txt
Module 2/Task_6_3/x64/Debug/Task_6_3.vcxproj.FileListAbsolute.txt
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
Module 2/Task_7_3/x64/Release/Task_7_3.ipdb
.vs/slnx.sqlite
Module 2/Task_11_1/GreetLibraryStatic/x64/Debug/GreeterLibraryStatic.vcxproj.FileListAbsolute.txt
Module 2/Task_11_1/GreetLibraryStatic/x64/Debug/GreetLibraryStatic.lib
Module 2/Task_11_1/GreetClient/x64/Debug/GreetClient.vcxproj.FileListAbsolute.txt
.vs/slnx.sqlite
.vs/slnx.sqlite
*.exp
*.dll
*.lib
Module 2/Task_11_2/LeaverDynamiclibrary/x64/Debug/LeaverDynamiclibrary.vcxproj.FileListAbsolute.txt
*.sqlite
*.db-shm
